:root {
  --color-anti-flash-white: #f3f4f6;
  --color-black-opacity-1: rgba(0, 0, 0, 0.1);
  --color-black-opacity-3: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-blue-jeans-opacity-2: rgba(97, 166, 250, 0.2);
  --color-blue: #00f;
  --color-bright-gray: #ededed;
  --color-charcoal: #374151;
  --color-dark-blue: rgba(17, 24, 39);
  --color-gray: rgb(128, 128, 128);
  --color-light-silver: #d1d5db;
  --color-overlay: rgba(96, 165, 250, 0.4);
  --color-red: #f00;
  --color-sliver-sand: #c4c4c4;
  --color-white: rgba(255, 255, 255);
  --color-isabelline: #f1f0f0;
  --color-tufts-blue-opacity-5: rgba(66, 153, 225, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
